/* 
Build a Shopping Cart with JavaScript – Project Tutorial
Artist: freeCodeCamp.org */

:root {
  /* >>> Contextual Spacing For Intrinsic Web Design: https://moderncss.dev/contextual-spacing-for-intrinsic-web-design/ */
	/* Paddings, Margins, Gaps */
	--padding-es: clamp(0.5rem, 1.5%, 0.75rem);
	--padding-sm: clamp(1rem, 3%, 1.5rem);
	--padding-md: clamp(1.5rem, 6%, 3rem);
	--padding-lg: clamp(3rem, 12%, 6rem);

  /* https://matthewjamestaylor.com/responsive-padding */
	--space-responsive--ex-large: calc(12px + 1.5625vw);
  --space-responsive--large: calc(12px + 1.5625vw);
  --space-responsive: calc(8px + 1.5625vw);
	--space-responsive--medium: calc(6px + 1.5625vw);
	--space-responsive--small: calc(4px + 1.5625vw);
	--space-responsive--ex-small: calc(2px + 1.5625vw);
	--space-responsive--tiny: calc(0.1px + 0.5625vw);

  --margin-sm: min(2rem, 4vh);
	--margin-md: min(4rem, 8vh);
	--margin-lg: min(8rem, 16vh);

	--layout-gap-sm: clamp(1rem, 3vmax, 1.5rem);
	--layout-gap-md: clamp(1.5rem, 6vmax, 3rem);
	--layout-gap-lg: clamp(3rem, 8vmax, 4rem);

  --border-radius-value: 0.4rem;
	--border-radius-value--large: 1.2rem;
	--border-radius-value--medium: 0.8rem;
	--border-radius-circle-value: 50%;
	--border-radius-elliptic-value: 25%;

  tab-size: 4;
	color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, ̈́"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, SFProDisplay-Regular, Inter, "Fira Sans", "Open Sans", "Droid Sans", "Nimbus Sans", "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, Poppins, Verdana, Tahoma, Arimo, sans-serif;
}

.navbar {
  display: flex;
  background-color: #212529;
  justify-content: space-between;
  color: white;
  padding: var(--space-responsive--small) var(--space-responsive);
  margin-bottom: var(--space-responsive--ex-large);
}

.navbar__link {
  text-decoration: none;
  color: white;
}

.cart {
  position: relative;
  background-color: #FFFFFF;
  color: #212529;
  font-size: 1.8rem;
  padding: var(--space-responsive--ex-small);
  border-radius: var(--border-radius-value);
}

.cart__icon {
  transform: rotateY(180deg);
  cursor: pointer;
}

.cart__amount {
  position: absolute;
  top: -0.75rem;
  right: -0.3rem;
  font-size: 1rem;
  background-color: red;
  color: white;
  padding: var(--space-responsive--tiny);
  border-radius: var(--border-radius-value);
}

.shop {
  --min: 30ch;
  display: grid;
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-responsive--ex-large);
  justify-content: center;
}

.shop > * {
  margin: 2.5%;
}

/* --- Responsive flex: using flex & flex-wrap - control number of items + optimised gap 
Build your Responsive website without media query - https://dev.to/afif/build-your-responsive-website-without-media-query-omj
--- */
.responsive-flex3 {
  display: flex;
  flex-wrap: wrap; /* this */
  gap: 10px;
}

.responsive-flex3 > div {
  flex: max(400px, 100% / 4 + 0.1%); /* and this */
}

.item {
  border: 0.125rem solid #212529;
  border-radius: var(--border-radius-value);
}

.item__details {
  display: flex;
  flex-direction: column;
  padding: var(--space-responsive--ex-small);
  padding: 2.5%;
  row-gap: 2.5%;
  column-gap: 2.5%;
  gap: 2.5%;
}

.item__details > * {
  margin: 2.5%;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.25rem;
  font-size: 1rem;
}

.buttons > * {
  margin: 2.5%;
}

.buttons__minus,
.buttons__plus {
  justify-content: center;
  font-size: .8rem;
  padding: 0;
  opacity: 0.75;
}

.buttons__minus {
  background-color: lightpink;
  color: red;
  cursor: pointer;
}

.buttons__plus {
  background-color: lightgreen;
  color: green;
  cursor: pointer;
}
