body {
	background-color: #F5F5F5;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-width: 60vw;
	margin-left: auto;
	margin-right: auto;
}

.container__img {
	max-width: 100%;
	max-height: 100%;
}

.melting-snowman {
	width: 25rem;
	height: 25rem;
	border: 0.125rem;
	margin: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.melting-snowman__emoji {
	font-size: 7rem;
	margin-left: auto;
	margin-right: auto;
}

.word {
	font-size: 2rem;
	margin: 1.25rem;
	display: flex;
	justify-content: center;
}

.letters {
	margin: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.letters__button {
	min-width: 44px;
	min-height: 44px;
	margin: 0.312rem;
	padding: 0.625rem;
	font-size: 1.2rem;
	border: none;
	background-color: blue;
	color: #FFFFFF;
	cursor: pointer;
}

.message {
	font-size: 1.5rem;
	margin: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
