:root{
	/* light theme */
	--img-bg: url("./images/bg-desktop-light.jpg"); 
	--body-bg: hsl(0, 0%, 98%);
	--text-colour: hsl(235, 19%, 35%);
	--card-bg: hsl(0, 0%, 100%);  
	--very-light-greyish-blue: hsl(236, 33%, 92%); 
	--placeholder-colour: hsl(233, 11%, 84%);
}