
body {
    height: 200px;
    background: beige;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background: blue;
    position: absolute;
}

dot {
    position: absolute;
    display: block;
    border: 2px solid red;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
