.body {
	margin: 0;
	max-height: 100vh;
	overflow: hidden;
}

.canvas {
	display: none;
}

.button {
	border: 0;
	outline: none;
	background-color: #00000070;
	color: #FFFFFF;
	padding: 0.25rem 0.5rem;
	height: 1.875rem;
	min-width: 1.875rem;
	border-radius: 1.5rem;
	display: grid;
	align-items: center;
	justify-items: center;
	place-items: center;
	cursor: pointer;
  -o-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
	transition: 0.3s ease-in;
}

/* CAMERA CONTAINER */
.camera-container {
	position: relative;
	background-color: #000000;
}

.camera-view__video {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	transform: scaleX(-1);
}

/* CAMERA BOTTOM */
.camera-bottom {
	height: 15.63rem;
	background-color: #00000050;
	position: absolute;
	inset: 0;
	top: auto;
	padding: 0 5%;
	display: grid;
	align-items: center;
	justify-items: center;
	place-items: center;
}

.camera-bottom > .inner {
	display: grid;
	align-items: center;
	justify-items: center;
	place-items: center;
	max-width: 31.25rem;
}

/* LENS MODIFIER */
.lens-modifier {
	display: flex;
	position: absolute;
	top: -3.125rem;
	background-color: #00000070;
	color: #FFFFFF;
	border-radius: 1.5rem;
	height: 1.875rem;
	padding: 0 0.25rem;
}

.lens-modifier__button {
	background-color: transparent;
	font-weight: 700;
}

.lens-modifier__button.active, .lens-modifier__button:active {
	background-color: #FFFFFF;
	color: #000000;
}

/* MODES */
.modes {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	margin-bottom: 2rem;
}

.modes__button {
	font-size: 1.15rem;
	font-weight: 300;
	background-color: transparent;
}

.modes__button.active {
	background-color: #00000070;
	color: #FFFFFF;
	height: 2.5rem;
	padding: 0 1rem;
	font-weight: 700;
}

/* SHUTTER CONTAINER */
.shutter-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.previous-shots {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 3.438rem;
	width: 3.438rem;
	border-radius: 50%;
}

.shutter {
	height: 5rem;
	width: 5rem;
	background-color: #FFFFFF;
	border-radius: 50%;
}

.shutter:active {
	transform: scale(0.8);
}

.switch-device {
	height: 3.438rem;
	width: 3.438rem;
	border-radius: 50%;
}

/* GALLERY VIEW */
.gallery-view {
	height: 100vh;
	width: 100vw;
	background-color: #000000;
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	-o-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
	transition: 0.4s ease-in;
	transform: translateX(100vw);
}

.gallery-view.show-gallery {
  transform: translateX(0);
}

.gallery-view__image {
	height: 100vh;
	object-fit: contain;
}

.gallery-view__button {
	position: absolute;
	top: 45%;
	left: 5%;
	font-size: 1.2rem;
}

.gallery-view__button--next {
	right: 5%;
	left: auto;
}

.gallery-view__button--close {
	left: 5%;
	top: 5%;
}
