/* Design a Modern School Landing Page | HTML, CSS & Vanilla JS Tutorial by Mute Coder | https://www.youtube.com/watch?v=83OO97Zy8Dw */

:root {
  --border-radius: 0.5rem;
  --border-radius-large: 1.25rem;
  --border-radius-very-large: 2.5rem;
  --border-radius-massive: 5rem;
  --border-radius-circle: 50%;
  --border-radius-ellipse: 25%;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: var(--cl--3--);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  --cl--1--: #FFFFFF;
  --cl--2--: #173041;
  --cl--3--: #1C467E;
  --cl--4--: #EA4427;
  --gap--: clamp(1rem, 5vw, 5rem);
  --shadow--1--: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.25));
  --shadow--2--: 6px 6px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--cl--1--);
}

.image {
  display: flex;
  max-width: 100%;
}

.link {
  display: inline-block;
  text-decoration: none;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.ul {
  list-style: none;
}

.row {
  display: flex;
}

.flex {
  flex-wrap: wrap;
  gap: var(--gap--);
}

.flex > * {
  flex: 1 1 30rem;
}

.column {
  display: grid;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--gap--);
  gap: var(--gap--);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}


/* Navigation */
.header {
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap--);
  padding: 1.5rem 0;
}

.logo__image {
  max-height: 150px;
  object-fit: contain;
  -webkit-filter: var(--shadow--1--);
  filter: var(--shadow--1--);
}

.toggle-menu {
  display: none;
}

.nav {
  align-items: center;
  gap: var(--gap--);
}

.nav__link {
  position: relative;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--cl--2--);
  padding: 0 0.5rem;
}

.nav__link::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--cl--1--);
  z-index: -1;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav__link:hover::after,
.nav__link.active::after {
  width: 2.5px;
  background-color: var(--cl--4--);
}

.nav__link:hover
.nav__link.active {
  color: var(--cl--4--);
}

/* End navigation */


/* Hero Section */

.hero {
  grid-gap: 2rem;
  gap: 2rem;
  padding: 4rem 0;
}

.hero-content {
  align-self: center;
}

.h2 {
  font-weight: 600;
  font-size: clamp(1.25rem, 5vw, 2.75rem);
  line-height: 1.25;
  text-transform: uppercase;
}

.p {
  font-size: 1rem;
  line-height: 1.25;
}

.hero-content__text {
  margin: 2rem auto;
}

.page-btn {
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--cl--1--);
  background-color: var(--cl--4--);
  border: 1px solid var(--cl--4--);
  -o-border-radius: var(--border-radius-large);
  -ms-border-radius: var(--border-radius-large);
  -moz-border-radius: var(--border-radius-large);
  -webkit-border-radius: var(--border-radius-large);
  border-radius: var(--border-radius-large);
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.page-btn:hover {
  color: var(--cl--2--);
  background-color: transparent;
  box-shadow: var(--shadow--2--);
}

.hero-image {
  object-fit: contain;
  max-height: 320px;
  margin: 0 auto;
}

.hero-text {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

/* End hero section */


/* Cards section */

.cards {
  padding: 4rem 0;
}

.card {
  position: relative;
  padding: 2rem;
  cursor: pointer;
}

.card::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 75%;
  background-color: var(--cl--4--);
  z-index: -1;
  -o-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card:hover::after {
  height: 10%;
  background-color: var(--cl--2--);
  box-shadow: var(--shadow--2--);
}

.card-content {
  padding: 1.2rem;
  background-color: var(--cl--4--);
  text-align: center;
  -o-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card:hover .card-content {
  background-color: var(--cl--1--);
  box-shadow: var(--shadow--2--);
}

.card-icon__image {
  /* width: 80px;
  height: 80px; */
  font-size: 5rem;
  margin: 1rem auto;
  padding: 1rem;
  border: 5px solid var(--cl--1--);
  -o-border-radius: var(--border-radius-circle);
  -ms-border-radius: var(--border-radius-circle);
  -moz-border-radius: var(--border-radius-circle);
  -webkit-border-radius: var(--border-radius-circle);
  border-radius: var(--border-radius-circle);
}

/* End cards section */



/* Media Queries */
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1000px) {
  .toggle-menu {
    display: flex;
    cursor: pointer;
    /* background-image: url(../../../../assets/icons/dripicons-2/SVG/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: transparent; */
    width: 30px;
    height: 30px;
    border: 0;
    position: fixed;
    right: 5%;
    z-index: 1000;
    -o-transition: background-size 0.5s ease-in-out;
    -ms-transition: background-size 0.5s ease-in-out;
    -moz-transition: background-size 0.5s ease-in-out;
    -webkit-transition: background-size 0.5s ease-in-out;
    transition: background-size 0.5s ease-in-out;
  }

  .toggle-menu::after {
    content: "\2630";
    font-size: 2rem;
  }

  .toggle-menu.active {
    position: fixed;
    right: 5%;
    /* background-image: url(../../../../assets/icons/dripicons-2/SVG/cross.svg);
    background-size: 25px; */
  }

  .toggle-menu.active::after {
    content: "\2716";
    font-size: 2rem;
  }

  .nav {
    position: absolute;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-height: 0;
    opacity: 0;
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
}
/* End media */
