/* Responsive HTML and CSS Website from Scratch with Flexbox Grid */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #FFFFFF;
  text-align: center;
  font: 1.15em/1, "Open Sans", sans-serif;
  color: #FFFFFF;
}

.wrapper {
  background-color: #F5F5F5;
  height: 100%;
}

.header {
  background-color: #AFDED4;
}

.logo {
  padding: 2%;
}

.image {
  max-width: 100%;
}

.h2 {
  font: 300 2em/1 "Raleway", sans-serif;
  color: #FFFFFF;
  padding: 2%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dark {
  color: #34495E;
}

.social__list {
  list-style-type: none;
}

.social__list-item {
  display: inline;
}

.social__icon {
  max-width: 2.5%;
  font-size: 3em;
  margin: 1%;
  padding: 0.1%;
}

.social__icon:hover {
  color: #F6931E;
}

.copy {
  padding: 2%;
}

.nav {
  position: relative;
}

.nav__ul {
  display: none;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__li:last-of-type {
  border-right: 0;
}

.nav__link {
  display: block;
  padding: 0.8em;
  background-color: #16A085;
  color: white;
  text-decoration: none;
  border-right: 1px solid #34495E;
  font-size: 0.9em;
  padding-left: 1.5em;
}

.nav__link:hover {
  background-color: #138E72;
}

.trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.trigger:checked {
  display: block;
}

.welcome {
  padding: 2%;
}

.paper-plane {
  background-color: #3C8886;
  padding: 5% 0 0 3%;
}

.take-off {
  background-color: #F6931E;
}

.globe {
  background-color: #1ABC9C;
}

.waves {
  background-color: #E5EF3F;
}

.plane {
  background-color: #34495E;
}

.blue-paper-plane {
  background-color: #00AFE1;
}

.plane-background,
.follow {
  background-color: #66D4FF;
}

.social {
  background-color: #66D4FF;
}

.copyright {
  background-color: #34495E;
  border-top: 2px solid #F6931E;
}

@media all and (max-width: 900px) {
  .h2 {
    font-size: 1.5em;
  }

  .social__list-item {
    font-size: 2em;
  }
}

@media all and (min-width: 768px) {
  .row {
    display: flex;
    margin: 0;
  }

  [class*="col-"]:last-child {
    margin: 0;
  }

  .col-1 {
    flex: 1;
  }

  .col-2 {
    flex: 2;
  }

  .col-3 {
    flex: 3;
  }

  .col-4 {
    flex: 4;
  }

  .col-5 {
    flex: 5;
  }

  .col-6 {
    flex: 6;
  }

  .col-7 {
    flex: 7;
  }

  .col-8 {
    flex: 8;
  }

  .col-9 {
    flex: 9;
  }

  .col-10 {
    flex: 10;
  }

  .col-11 {
    flex: 11;
  }

  .col-12 {
    flex: 12;
  }
}

@media all and (max-width: 768px) {
  .logo {
    max-width: 185px;
  }

  .h2 {
    font-size: 1.25em;
    padding: 3%;
    transform: translateY(0%);
  }

  .copy {
    font-size: 0.9em;
  }

  .circle {
    border-radius: 50%;
    max-width: 40%;
    padding: 5% 0;
  }
}

@media all and (max-width: 500px) {
  .social__icon {
    font-size: 1.25em;
  }
}