.boxes {
  width: 25rem;
  height: 25rem;
  background-color: #000000;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 1.875rem;
  row-gap: 1.875rem;
  gap: 1.875rem;
}

.box-1 {
  width: 6.25rem;
  height: 6.25rem;
  background-color: purple;
  border: 2px solid darksalmon;
}

.box-2 {
  width: 6.25rem;
  height: 6.25rem;
  background-color: red;
  border: 2px solid darksalmon;
}

.box-3 {
  width: 6.25rem;
  height: 6.25rem;
  background-color: green;
  border: 2px solid darksalmon;
}

.box-4 {
  width: 6.25rem;
  height: 6.25rem;
  background-color: orange;
  border: 2px solid darksalmon;
}

.box-5 {
  width: 6.25rem;
  height: 6.25rem;
  background-color: blue;
  border: 2px solid darksalmon;
}
