/* 
Build a Shopping Cart with JavaScript – Project Tutorial
Artist: freeCodeCamp.org */

:root {
  /* >>> Contextual Spacing For Intrinsic Web Design: https://moderncss.dev/contextual-spacing-for-intrinsic-web-design/ */
	/* Paddings, Margins, Gaps */
	--padding-sm: clamp(1rem, 3%, 1.5rem);
	--padding-md: clamp(1.5rem, 6%, 3rem);
	--padding-lg: clamp(3rem, 12%, 6rem);

  /* https://matthewjamestaylor.com/responsive-padding */
	--space-responsive--ex-large: calc(12px + 1.5625vw);
  --space-responsive--large: calc(12px + 1.5625vw);
  --space-responsive: calc(8px + 1.5625vw);
	--space-responsive--medium: calc(6px + 1.5625vw);
	--space-responsive--small: calc(4px + 1.5625vw);
	--space-responsive--ex-small: calc(2px + 1.5625vw);

  --margin-sm: min(2rem, 4vh);
	--margin-md: min(4rem, 8vh);
	--margin-lg: min(8rem, 16vh);

	--layout-gap-sm: clamp(1rem, 3vmax, 1.5rem);
	--layout-gap-md: clamp(1.5rem, 6vmax, 3rem);
	--layout-gap-lg: clamp(3rem, 8vmax, 4rem);

  --border-radius-value: 0.4rem;
	--border-radius-value--large: 1.2rem;
	--border-radius-value--medium: 0.8rem;
	--border-radius-circle-value: 50%;
	--border-radius-elliptic-value: 25%;

  tab-size: 4;
	color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, ̈́"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, SFProDisplay-Regular, Inter, "Fira Sans", "Open Sans", "Droid Sans", "Nimbus Sans", "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, Poppins, Verdana, Tahoma, Arimo, sans-serif;
}

.navbar {
  display: flex;
  background-color: #212529;
  justify-content: space-between;
  color: white;
  padding: var(--space-responsive--small) var(--space-responsive);
}

.cart {
  background-color: #FFFFFF;
  color: #212529;
  font-size: 1.8rem;
  padding: var(--space-responsive--ex-small);
}

.cart__icon {
  transform: rotateY(180deg);
}
