.gameboard {
	width: 80vw;
	height: 80vw;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
}

.square {
	width: 10vw;
	height: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.piece {
	font-size: 9vw;
	position: relative;
	z-index: 9;
}

.path {
	position: relative;
	z-index: -10;
}

.beige {
	background-color: rgb(110, 110, 98);
}

.brown {
	background-color: rgb(169, 43, 43);
}
