
body {
	margin: 0;
	background-color: darkgrey;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vertical-buttons {
	display: flex;
	flex-direction: column;
}

.button {
	border: none;
	border-radius: 0.3125rem;
	padding: 0.3125rem 0.3125rem 0.4375rem 0.3125rem;
	margin: 0.125rem;
	cursor: pointer;
}

.button:hover {
	background-color: blue;
}

.car-canvas {
	background-color: lightgrey;
}

.network-canvas {
	background-color: black;
}
